In [5]:
myset={'apple', 'banana', 'cherry'}
myset.add("orange")
myset.add("apple")

In [6]:
myset

{'apple', 'banana', 'cherry', 'orange'}

In [7]:
for ele in myset:
    print(ele)

apple
banana
orange
cherry

In [8]:
tropical={"pineapple","mango","papaya"}

myset.update(tropical)
myset

{'apple', 'banana', 'cherry', 'mango', 'orange', 'papaya', 'pineapple'}

In [10]:
a=3
del a

In [11]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 'c', 2, 3, 'b'}

In [12]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 'a', 'c', 2, 3, 'b'}

In [13]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [14]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [15]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'microsoft', 'google', 'cherry'}

In [16]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'microsoft', 'google', 'cherry'}

In [17]:
map1={'k1':'v1', 'k2':'v2'}
print(type(map1),map1)

<class 'dict'> {'k1': 'v1', 'k2': 'v2'}

In [18]:
map1.get('k1')

'v1'

In [20]:
map1.setdefault('k3','v3')

'v3'

In [21]:
map1

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}

In [36]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [23]:
thisdict['color']='red'

thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [24]:
len(thisdict)

4

In [25]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [26]:
arr1=list(['item1','item2','item3'])
arr2=tuple(arr1)
set1=set(arr1)
print(arr1,arr2,set1)

['item1', 'item2', 'item3'] ('item1', 'item2', 'item3') {'item1', 'item2', 'item3'}

In [29]:
x=thisdict.keys()
y=thisdict.values()
z=thisdict.items()

In [30]:
x,y,z

(dict_keys(['name', 'age', 'country']),
 dict_values(['John', 36, 'Norway']),
 dict_items([('name', 'John'), ('age', 36), ('country', 'Norway')]))

In [31]:
thisdict.update({"age":70})

In [32]:
thisdict

{'name': 'John', 'age': 70, 'country': 'Norway'}

In [33]:
thisdict.pop('age')

70

In [34]:
thisdict.popitem()

('country', 'Norway')

In [35]:
thisdict

{'name': 'John'}

In [40]:
for (key,val) in thisdict.items():
    print(key,val)

brand Ford
model Mustang
year 1964